.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform:translateY(-8px);
    transition: 0.3s;
}




.card_img img{
    width:200px;
    height: 200px;
    object-fit: contain;
}

.card_container{
    display: grid;
    grid-template-columns:repeat(5,1fr);
    gap: 20px;
    margin-top: 20px;
}

.card_text h2{
    font-size: 20px;
    color:#333;
    font: optional;
}

.card_text p{
    font-size: 15px;
    color:#333;
    font: optional;
    letter-spacing: 1px;
    list-style:armenian;
}

.btn_container{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.btn_container .button_edit{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #359c1c;
    color: #fff;
    cursor: pointer;
    font-family:'Courier New', Courier, monospace;
}

.button_delete{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: #fff;
    cursor: pointer;
    font-family:'Courier New', Courier, monospace;
}

.btn_container .button_edit:hover{
    background-color: #42e112;
    transform:translateY(-8px);
    transition: 0.3s;
    color: #fff;
}

.button_delete:hover{
    background-color: #ff0000;
    transform:translateY(-8px);
    transition: 0.3s;
    color: #fff;
}

@media screen and (max-width: 1200px) {
    .card_container{
        grid-template-columns:repeat(4,1fr);
    }
}

@media screen and (max-width: 992px) {
    .card_container{
        grid-template-columns:repeat(4,1fr);
    }

    .card{
        padding: 10px;
    }
}

@media screen and (max-width: 880px) {
    .card_container{
        grid-template-columns:repeat(2,1fr);
    }

    .card{
        width:100%;
    }
}

@media screen and (max-width: 500px) {
    .home{
        display: none;
    }

    .card_img img{
        width: 100%;
        height: 100px;
        object-fit: contain;
    }

    .form_user{
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .card_container{
        grid-template-columns:repeat(1,1fr);    
    }

    .card_img img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    
}